BOOTSTRAP_SERVERS=pkc-921jm.us-east-2.aws.confluent.cloud:9092
KAFKA_API_KEY=
KAFKA_API_SECRET=
SCHEMA_REGISTRY_URL=https://psrc-176j5v8.us-east-2.aws.confluent.cloud
SCHEMA_REGISTRY_API_KEY=
SCHEMA_REGISTRY_API_SECRET=
CONSUMER_GROUP=dashboard-backend-group
